* {
	margin:0;
	padding: 0;
	border:0;
}

body{
	margin: 0% 0%;
	background: black;
}

p {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 150%;
	color:#fff;
	padding-top: 5%;
	text-align: center;
}

.title {
	background: url("img/try.jpeg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    min-height: 750px;

    font-size:571%;
	font-family: 'Playfair Display', serif;
	color:#fff;
	text-align: center;
	padding-top: 20%;
}

.fixed{ 
	background-color: black;
	padding: 5%;
	min-height: 300px;
}

.links{
 	text-align: center;
}

.ed {
	background: url("img/ed.jpeg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 500px;

	font-size:571%;
	font-family: 'Playfair Display', serif;
	color:#fff;
	text-align: center;
	padding: 15%;
}

.titleP{
	font-family: 'Roboto Condensed', sans-serif;
	font-size:150%;
	color:#000;
	margin: 15% 0% 0% 0%;

}

#p2 {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 120%;
	color:#fff;
	text-align: center;
}

#p3 {
	font-family: 'Playfair Display', serif;
	font-size: 120%;
	color:#000;
	text-align: center;
}

#p4{
    font-family: 'Roboto Condensed', sans-serif;
	font-size: 12px;
	color:#fff;
	text-align: center;
}
.philosophy {
	background: url("img/philosophyx.jpeg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 500px;

    font-size:571%;
	font-family: 'Playfair Display', serif;
	color:#fff;
	text-align: center;
	padding: 15%;

}

.cardphil {
	background-color: rgba(255,255,255,0.1);
    box-shadow: 2px 4px 8px 2px rgba(255,255,255,0.4);
    transition: 0.3s;
    padding: 10%;
    min-height: 100px;
    border-radius: 2px;
    margin-top:5%;

    font-family: 'Roboto Condensed', sans-serif;
	font-size: 20%;
	color:#fff;
	text-align: center;
}

.cardphil:hover {
    box-shadow: 4px 8px 16px 4px rgba(255,255,255,0.2);
}


.philosophyTitle {
	font-size:571%;
	font-family: 'Playfair Display', serif;
	color:#fff;
	text-align: center;
	padding:15%;
}

.teaching{
	background-image: url("img/ex.jpeg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 500px;

	font-size:571%;
	font-family: 'Playfair Display', serif;
	color:#fff;
	text-align: center;
	padding-top: 15%;
	padding-bottom: 15%;
}

.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  margin-top: 5%;
}

 .card {
    display: inline-block;
    background-color: rgba(255,255,255,0.5);
    padding: 10% 2% 10% 2%;
    min-height: 320%;
    min-width: 30%;
    border-radius: 3px;

	font-family: 'Roboto Condensed', sans-serif;
	font-size: 20%;
	color:#000;
	text-align: center;
  }

.cardResume:hover{
	box-shadow: 4px 8px 16px 4px rgba(255,255,255,0.2);
}

.cardHolder{
	display: inline-block;
	min-width: 30%;
}

.hover:hover{
	box-shadow: 4px 8px 16px 4px rgba(255,255,255,0.2);
}

.otherTeaching{
	font-size:571%;
	font-family: 'Playfair Display', serif;
	color:#fff;
	text-align: center;
	padding:10%;
}

.otherTeachingInfo{
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 30%;
	color:#fff;
	text-align: center;
	padding-top:5%;
}

.profDev{
	background: url("img/pd.jpeg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    min-height: 500x;
    padding: 10%;
    

    font-size:571%;
	font-family: 'Playfair Display', serif;
	color:#fff;
	text-align: center;

}

.pd {
	background: black;
	max-height: 500px;
    padding: 2% 1% 5% 1%;

}

.pdCard {
    display: inline-block;
    background-color: rgba(255,255,255,0.5);
    padding: 5% 1% 5% 1%;
    max-height: 300px;
    min-width: 300px;
    max-width: 320px;
    border-radius: 3px;
    margin: 1px;

	font-family: 'Roboto Condensed', sans-serif;
	font-size: 120%;
	color:#000;
	text-align: center;
  
}

.perfOpp{
	background: url("img/perf.jpeg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 350px;

    font-size:571%;
	font-family: 'Playfair Display', serif;
	color:#fff;
	text-align: center;
	padding:10%;
}

.perfOppInfo{ 
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 150%;
	color:#fff;
	text-align: center;
	padding: 5%;
}

.lessonPlans{
	background: url("img/LP.jpeg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 300px;

    font-size:571%;
	font-family: 'Playfair Display', serif;
	color:#fff;
	text-align: center;
	padding:10%;
}

.lpInfo{
    background-color: black;
	padding: 5%;
	min-height: 300px;
    text-align: center;
}

